<html>
    <head>
        <script src="../static/script/basic.js"></script>
        
        {% if title %}
        <title>{{ title }} - SA Weather</title>
        {% else %}
        <title>weather</title>
        {% endif %}
        <style>.nav-item{display: inline; padding:50px; margin 0em auto}.nav-link{font-family:dense; font-weight:bold; }
        </style>
    </head>
    <body>
      <div style = "text-align:center; text-shadow: 2px 1px goldenrod; color: cornsilk; font-family: papyrus;font-style:bold;">
        Weather:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>