{% extends "base.html" %}

{% block content %}
<body style ="background-image:url({{ url_for('static', filename='/styles/ocean-sea-sky-sunset-beach.jpg') }}); background-size:cover;background-repeat:no-repeat; height:100%;background-position: center center;">
<div style = "border: 15px rgba(255, 248, 220, 0.678); border-style: solid; background-color:rgba(250, 114, 24, 0.678); width: 35%; justify-content:center; margin: 0em auto;">
    <p style="text-align:center;">New User?<a href="{{ url_for('register') }}">Click to Register!</a></p>
    <h1 style="text-align:center; text-align: center;font-style: italic;font-family: 'Times New Roman', Times, serif;">Sign In</h1>
    <form action="" method="post" novalidate style="text-align:center;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
</body>
{% endblock %}